.hero{
    margin: 2.5rem auto 4rem;
    text-align: center;
    max-width: 80%;

    &__title1{
        font-weight: lighter;
        color: #6B6A70;
        margin-bottom: 0.4rem;
    }

    &__title2{
        margin-top: 0.5rem;
    }

    &__content{
        color: $mainGrey;
    }
}